.GridSinBorde tr.z-row td.z-row-inner, tr.z-row
.z-cell,div.z-grid { border: none; overflow: hidden; zoom: 1;
border-top: none; border-left: none; border-right: none;
border-bottom: none; }

.lineaVertical { height: 300px; border-right: 3px solid silver;
		width: 10px;} 
                
.lineaHorizontal { height: 50px; border-top: 3px solid
		silver; width: 300px}
		
.z-fieldset{-moz-border-radius:5px;     
			border-radius: 5px;     
			-webkit-border-radius: 5px;}
.combobox{
	font-size:12px;
	border: 1px solid silver;
}