<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee" xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
		http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

    <bean id="adminExtraDao" class="healthmanager.modelo.dao.impl.AdminExtraDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    
    <bean id="resolucion4505Dao" class="healthmanager.modelo.dao.impl.Resolucion4505DaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    
    <bean id="totalesExtraDao" class="healthmanager.modelo.dao.impl.Totales_registrosExtraDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    
    <bean id="generalDao" class="com.framework.modelo.dao.impl.GeneralDaoImpl">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
    <bean id="generalExtraDao" class="healthmanager.modelo.dao.impl.GeneralExtraDaoImpl">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
</beans>